body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .experts {
    height: 100%;
    margin: 50px auto;
    padding: 20px;
    color: white;
    background-color: #1c1f4a;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .experts h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .experts h1 span {
    color: #00c4cc;
  }
  
  .experts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .expert-card {
    width: 250px;
    background-color: #062743;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
  }
  
  .expert-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .expert-card h2 {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .expert-card p {
    font-size: 1em;
    margin: 10px 0;
  }
  
  .expert-card a img {
    width: 24px;
    height: 24px;
    margin-top: 10px;
    transition: transform 0.3s;
  }
  
  .expert-card a img:hover {
    transform: scale(1.2);
  }
  